{% extends "@FOSUser/layout.html.twig" %}
{% block body %}
    <div class="background">
<h1>Info Person Login</h1>
{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
    </div>
{% endblock body %}
