{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container background ">
            <div class="col-md-12 text-center">
                <h1>This place is olny for admin</h1>
                <a href="{{ path('homepage') }}"> <button class="btn btn-primary">Return</button></a>
            </div>
        </div>
    </div>

{% endblock %}