{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>People pass in by Daluz</h1>
                <p>Hera i make i databases with symfony and mysql<br>I can see how can pass or how </p>
            </div>
            <div class="pull-right text">
                <h1>The Prices</h1>
                <table>
                    <ul>
                        <li>visitors: 3.5$ </li>
                        <li>Per/Preson: 6$ </li>
                        <li>child(5->10): 4$</li>
                        <li>Power: 3.5$</li>
                        <li>Parking: 3.5$</li>
                        <br>
                        <li>Caravan: 3.5$</li>
                        <li>Caravan Rent: 3.5$</li>
                        <li>Tent: 3.5$</li>
                        <li>Tent Rent: 3.5$</li>

                    </ul>
                </table>
            </div>

           

           

        </div>
    </div>
{% endblock %}
