{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container background">
    <p><b>{{ 'You ara login as:'|trans }}</b>{{ user.username }}</p>
    {% if targetUrl %}
    <p><a class="btn btn-info" href="{{ targetUrl }}">{{ 'Go to My page '|trans }}</a></p>
    {% endif %}
    </div>
{% endblock fos_user_content %}
