{% extends 'base.html.twig' %}
{% block body %}


    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">

            <h4>The response Mail send to {{ email }}</h4>
            <p> Subject:  </p>
            <p> The message is : {{ message }} </p>


            <a class="btn btn-primary" href=" {{ url('desplay') }} ">Return</a>




        </div>

    </div> <!-- /container -->

{% endblock body %}