{% extends 'base.html.twig' %}
{% block body %}


    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">

            <h1>The response Mail send to {{ email }}</h1>

            <p> The message is : {{ message }} </p>


        </div>

    </div> <!-- /container -->

{% endblock body %}