{% extends 'base.html.twig' %}


{% block body %}
    <h1>Camper Cost</h1>

    <p> {{ days.arrival }} </p>
    <p> {{ days.departure }} </p>


    <a href="{{ path('people_index') }}"class="btn btn-primary">Back to the list</a>





{% endblock %}
